<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div>
            <h1>Maibillyen Products</h1>
            <h3>a web provide all mybillen products and prices</h3>
        </div>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/MaybellineProducts'>All Products</a></li>
                <li><a href='/MyCard'>My card</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <div>
        <%data.map(ele=>{%>
            <h4><%=ele.name%></h4>
<img src="<%=ele.image_link%>" alt="">

<h4><%=ele.price%></h4>
<h4><%=ele.description%></h4>


            <%});%>
    </div>
</main>
</body>
</html>